[submodule "tx-queue"]
	path = tx-queue
	url = https://github.com/RENCI/tx-queue
[submodule "tx-utils"]
	path = tx-utils
	url = https://github.com/RENCI/tx-utils
[submodule "tx-persistence"]
	path = tx-persistence
	url = https://github.com/RENCI/tx-persistence
[submodule "tx-pcornet-to-fhir"]
	path = tx-pcornet-to-fhir
	url = https://github.com/RENCI/tx-pcornet-to-fhir
